html { font-size: 16px; }

*, 
*:after, 
*:before { 
    -webkit-box-sizing: border-box; 
    box-sizing: border-box; 

    // global style, so we can use ems

    margin: 0;
    padding: 0;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  outline: none;
  text-decoration: none;
}

a:hover, 
a:focus {
  outline: none;
}

button:focus {
  outline: none;
}

.svg {
  height: auto !important;
}

