$black: black;
$gray--light: #F5F5F5;
$gray--mid: #B8BDC2;
$gray--dark: #2C3531;
$teal: #00AA9D;
$yellow: #F5FF89;

$teal-1: #E7F0F0; 
$teal-2: #CFE2E1; 
$teal-3: #B7D3D3; 
$teal-4: #9FC6C5; 
$teal-5: #87B8B7; 
$teal-6: #6FA9A9; 
$teal-7: #559C9B; 
$teal-8: #368E8D; 
$teal-9: #008080; 

$teal-10: #002F2F; 

$jacarta: #282562;
$babyblue: #74BAE3;

// #00FDDC
// #276688
// #A9ABB7
// #55DDE0
// #6EABC2

