$black: black;
$gray--light: #F5F5F5;
$gray--mid: #B8BDC2;

$palette--calypso: #276688;
$palette--mint: #00FDDC;
$palette--pearl: #A9ABB7;
$palette--turquoise-blue: #55DDE0;
$palette--glacier: #6EABC2;

$palette--green: #82C345;

$palette--navy: #26274C;
$palette--light-yellow: #FAFFD8;

