$black: black;
$gray--light: #F5F5F5;
$gray--mid: #B8BDC2;
$gray--dark: #2C3531;
$teal: #00aa9d;
$yellow: #f5ff89;

$teal-1: #e7f0f0; 
$teal-2: #cfe2e1; 
$teal-3: #b7d3d3; 
$teal-4: #9fc6c5; 
$teal-5: #87b8b7; 
$teal-6: #6fa9a9; 
$teal-7: #559c9b; 
$teal-8: #368e8d; 
$teal-9: #008080; 

$teal-10: #002f2f; 

$jacarta: #282562;
$babyblue: #74bae3;



