
#fp-nav {
  display: none;
}

#fp-nav.left {
  // load hidden, on first section ;
  /* display: none; */
}

#fp-nav.left {
  left: 2rem;
}

#fp-nav ul li {
  height: 1rem !important;
  width: 1rem  !important;
  margin: 1rem 0 !important;
}


#fp-nav.left li a {
  height: auto !important;
  width: auto !important;
}

#fp-nav.left li a span {
  display: block;
  height: 1rem !important;
  width: 1rem  !important;
  margin: 0  !important;
}


#fp-nav ul li .fp-tooltip.left {
  left: 2.5rem !important;
  font-size: 1rem !important;
  font-family: 'K-Regular', sans-serif;
  top: 0 !important
}

