@import "_colors";

.glide__track {
	overflow: visible;
}

.glide--art-projects {
    // margin-top: 10%;
    display: flex;
    align-items: center;
x
}

.glide__slides {
	height: 60vh;
	@include mq('md') { height: 400px; }
	@include mq('lg') { height: 400px; }
	@include mq('xl') { height: 350px; }
	// @include mq('xxl') { height: 450px; }

	overflow: visible;
}

.glide__slide {
	position: relative;
	background-size: cover;
	background-position: center center;
	// opacity: 0;
    min-width: 300px;

    // @todo: only on non-swipe
    cursor: default;

	img {
		// opacity: 0.6;
		transition: opacity 0.1s ease-in-out;
	}
}

// .glide__slide--active { opacity: 1;}

// // so nav line doesnt show thru
// .slide__bg-block {
// 	position: absolute;
// 	height: 100%;
// 	width: 100%;
// 	background: black;
// }


// parallelogram
// .glide__slide:nth-child(even) .slide__image { clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%); }
// .glide__slide:nth-child(even) .slide__image { clip-path: polygon(0% 0%, 0% 100%, 25% 100%, 25% 25%, 75% 25%, 75% 75%, 25% 75%, 25% 100%, 100% 100%, 100% 0%, 0% 0%, 0% 0%); }

// diagonal
// .glide__slide:nth-child(odd) .slide__image { clip-path: polygon( 100% 0%, 100% 0%, 0% 100%, 0 100%); }

.art-project__type--1 img,
.art-project__type--2 img {
  // display: inline-block;
  // width: 250px;
  // height: 250px;
  // background: orange;
  // cursor: pointer;
  // clip-path: polygon(100% 0%, 100% 0%, 0% 100%, 0 100%);
  // clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
  // animation: polygons 2s ease-in-out;

//
    // X
    // clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);

}

// .art-project__type--1 { border-top: 3px solid $palette--light-yellow }
// .art-project__type--2 { border-top: 3px solid $palette--turquoise-blue; }


// // http://bennettfeely.com/clippy/
// .art-project__type--1 img {
// 	clip-path: polygon(13% 0, 100% 0%, 88% 100%, 0% 100%);
// }

// .art-project__type--2 img {
// 	clip-path: polygon(50% 0%, 100% 14%, 100% 87%, 50% 100%, 0 85%, 0 13%);
// }



.glide__arrows {
    position: absolute;
    width: 100vw;
	display: flex;
    cursor: default;
}

.glide__arrow {
    position: relative;
	top: auto;
    padding: 2rem;
    // margin: 3rem 1rem;
	transform: none;
	box-shadow: none;
	text-shadow: none;
	border-radius: 0;
	border: 0;
	color: $palette--green;
	line-height: normal;
	opacity: 0.9;


	i { font-size: 2.25rem; }
 }

.glide__arrow:hover {
	opacity: 1;
}

.glide__arrow--left {
	margin-right: auto;
 }

.glide__arrow--right {
}

.slide__image {
	object-fit: cover;
	width: 100%;
	height: 100%;

}

// .glide__slide:hover {
// 	opacity: 1;
// }

.slide__title {
    display: flex;
    align-items: center;
	position: absolute;
	margin: 0.5rem 0.25rem;
    right: 0;
    font-family: 'K-Regular', sans-serif;
    font-size: 1.1rem;
	color: $gray--light;
	// box-shadow: 1rem 1rem rgba(red, 0.4);
    user-select: none;
    cursor: initial;
}

.slide__title-icon {
    margin: 0 0.5rem;
    position: relative;
    top: -1px;
}

.slide__title-icon--square { font-size: 17px; top: 1px; position: relative; }
.slide__title-icon--circle { font-size: 14px; }

.material__icon--circle { color: $palette--light-yellow;  }
.material__icon--square { color: $palette--turquoise-blue;  }



// .container__arrow:hover {
// 	opacity: 1;
// }

.slide__position-counter {
	display: flex;
    justify-content: flex-end;
    /* align-items: center; */
    /* width: 100%; */
    // padding: 0.5rem;
    flex-grow: 1;
    // color: $palette--green;
	color: white;
    font-family: 'K-Regular', sans-serif;
    opacity: 0;
    top: -2rem;
    position: absolute;
}

.slide__tag,
.projects__menu-tag {
	padding: 0.15rem 0.25rem 0.2rem 0.25rem;
    color: #afafaf;
    font-size: 0.8rem;
    font-family: sans-serif;
    opacity: 0.9;
	cursor: pointer;
}

.slide__tag {
    position: absolute;
    bottom: -2rem;
    left: 0.25rem;
    background-color: #3a3a3a;
    border-radius: 2px;
	transition: all 0.1s ease-in-out;
}

.projects__menu-tag {
    display: flex;
    align-items: center;
	padding: 0.15rem 0;
    margin: 0 0.5rem;
    font-size: 0.8rem;
    font-family: sans-serif;
    background-color: none;
    color: #afafaf;
    opacity: 0.9;
	cursor: pointer;
	transition: all 0.1s ease-in-out;
}

.projects__menu-icon {
    margin: 0 0.25rem;
}

.projects__menu-icon__circle { font-size: 14px; }
.projects__menu-icon__square { font-size: 17px; top: 1px; position: relative; }

.projects__menu-tag.active {
    // border-bottom: 1px solid $palette--green;
}

.projects__menu-tag:hover {
    opacity: 1;
    // border-bottom: 1px solid $palette--green;
}


.slide__tag:hover,
.projects__menu-tag:hover {
	opacity: 1;
}

.tag--1:before {
	content: 'production';
}

.tag--2:before {
	content: 'event';
}

//////////////////
// video, HTML el
/* $poofWidth: 600px;
$poofheight: 337.5px; */

// vimeo, matches embed element
// TODO: make one set of vars
/* $poofWidth: 100%;
$poofheight: 90vh;
 */



//	*/
// video {
//	object-fit: cover;
//	width: 100vw;
// }

// .projects__tag-types {
// 	display: inline-flex;
//     flex-wrap: nowrap;
//     margin-left: 1rem;
// }

// .projects__tag-types:before {
// 	content: ' ';
// 	margin: 0 1.5rem;
// 	background-color: $palette--green;
// 	opacity: 0.3;
// 	border-right: 1px solid $palette--green;
// }

.projects__menu-label {
    display: inline-block;
	 text-transform: uppercase;
    font-size: 0.65rem;
    letter-spacing: 0.05rem;
}



