@import "_colors";

.glide__track {
	overflow: visible;
}

.glide--art-projects {
    margin-top: 10%;
}

.glide__slides {
	height: 60vh; 
	@include mq('md') { height: 400px; }
	@include mq('lg') { height: 400px; }
	@include mq('xl') { height: 350px; }
	@include mq('xxl') { height: 450px; }

	overflow: visible;
}

/* 
    $breakpoints: (
	    "xxs":  1px,
	    "xs":   400px,
	    "sm":   480px,
	    "md":   650px,
	    "lg":   860px,
	    "xl":   1030px,
	    "xxl":  1200px,
	    "xxxl": 1600px
	);
 */

.glide__slide {
	    position: relative;
	background-size: cover;
	background-position: center center;
	@include mq('lg') {
		opacity: 0.6;
		transition: opacity 0.1s ease-in-out;
	}
}

// http://bennettfeely.com/clippy/
.art-project__type--1 {
}

.art-project__type--2 {
	clip-path: circle(50% at 50% 50%);
}

.glide__slide--active {
	opacity: 1 !important;
}

.glide__arrows {
	display: flex;
}

.glide__arrow {
	position: static;
	top: auto;
	left: auto; 
	right: auto;
	margin: 1rem;
	padding: 0;
	transform: none;
	box-shadow: none;
	text-shadow: none;
	border-radius: 0;
	border: 0;
	color: $palette--green;
	line-height: normal;
	i { width: 20px !important; }
 }

 .glide__arrow--left {
	margin-left: auto;
 }

 .glide__arrow--right {
	margin-right: 3rem;
}

.slide__image {
	object-fit: cover;
	width: 100%;
	height: 100%;
}

.glide__slide:hover {
	opacity: 0.8;
}

.slide__title {
	position: relative;
	margin: 1rem;
	top: -3.4rem;
	user-select: text;
	color: $gray--light;
	/* box-shadow: 1rem 1rem rgba($teal-2, 0.4); */
}

// .container__arrow:hover {
// 	opacity: 1;
// }

.tag--1:before {
	content: 'production';
}

.tag--1:before {
	content: 'production';
}

.slide__position-counter {
	color: white;
  font-family: 'K-Regular', sans-serif;
	
}
.slide__tag {
	background: $palette--glacier;
	padding: 0.15rem;
	border-radius: 2px;
	color: white;
	font-size: 0.7rem;
	position: absolute;
	bottom: -3rem;
	right: 0
}


// $gray--light: #F5F5F5;
// $gray--mid: #B8BDC2;

// $palette--calypso: #276688;
// $palette--mint: #00FDDC;
// $palette--pearl: #A9ABB7;
// $palette--turquoise-blue: #55DDE0;
// $palette--glacier: #6EABC2;


//////////////////
// video, HTML el
/* $poofWidth: 600px;
$poofheight: 337.5px; */

// vimeo, matches embed element
// TODO: make one set of vars
/* $poofWidth: 100%;
$poofheight: 90vh;
 */



//	*/
// video {
//	object-fit: cover;
//	width: 100vw;
// }

