@import "_colors";

.glide__track {
	overflow: visible;
}

.glide__slides {
	height: 60vh; 
	@include mq('md') { height: 400px; }
	@include mq('lg') { height: 400px; }
	@include mq('xl') { height: 350px; }
	@include mq('xxl') { height: 450px; }

	overflow: visible;
}

/* 
    $breakpoints: (
	    "xxs":  1px,
	    "xs":   400px,
	    "sm":   480px,
	    "md":   650px,
	    "lg":   860px,
	    "xl":   1030px,
	    "xxl":  1200px,
	    "xxxl": 1600px
	);
 */

.glide__slide {
	background-size: cover;
	background-position: center center;
	@include mq('lg') {
		opacity: 0.6;
		transition: opacity 0.1s ease-in-out;
	}
}

.glide__slide--active {
	opacity: 1 !important;
}

.glide__arrows {
	display: flex;
}

.glide__arrow {
	position: static;
	top: auto;
	left: auto; 
	right: auto;
	margin: 1rem;
	padding: 0;
	transform: none;
	box-shadow: none;
	text-shadow: none;
	border-radius: 0;
	border: 0;
	color: $palette--green;
	line-height: normal;
	i { width: 20px !important; }
 }

 .glide__arrow--left {
	margin-left: auto;
 }

 .glide__arrow--right {
	margin-right: 3rem;
}

.slide__image {
	object-fit: cover;
	width: 100%;
	height: 100%;
}

.glide__slide:hover {
	opacity: 0.8;
}

.slide__title {
	position: relative;
	margin: 1rem;
	top: -3.4rem;
	user-select: text;
	color: $gray--light;
	/* box-shadow: 1rem 1rem rgba($teal-2, 0.4); */
}

// .container__arrow:hover {
// 	opacity: 1;
// }


//////////////////
// video, HTML el
/* $poofWidth: 600px;
$poofheight: 337.5px; */

// vimeo, matches embed element
// TODO: make one set of vars
/* $poofWidth: 100%;
$poofheight: 90vh;
 */



/* .fp-controlArrow {
	position: absolute;
	display: flex;
	align-items: center;
	z-index: 1 !important;
	top: 0 !important;
	bottom: 0 !important;
	height: 100vh !important;
	
	transform: none !important;
	width: auto !important;
	border: none !important;
	margin: 0 !important;
	border-width: 0 !important;
	border-color: none !important;
}

.fp-controlArrow.fp-prev,
.fp-controlArrow.fp-next {
	left: auto !important;
	width: auto !important;
	border: none !important;
}
//	*/
// video {
//	object-fit: cover;
//	width: 100vw;
// }

