{{#each paragraphFragments as | paragraphFragment i|}}
    {{#if introFragmentType}}
        <a href="#" 
            data-intro-fragment-key="{{introFragmentKey}}"
            class="intro__link 
                   js--intro-fragment-hover"
        >
                {{introFragmentText}}
        </a>
    {{else}}
        <span>{{introFragmentText}}</span>
    {{/if}}
{{/each}}




                            
             {{!--                
                            <span>Kate Brehm is an artist and movement director specializing in</span>
                            <a href="#" class="intro__link hover js-hover__puppet">puppetry,</a>
                            <span>scenic dramaturgy, and </span>
                            <a href="#" class="intro__link hover js-hover__poof">physical acting.</a>
                            <br>
                            <br>
                            <span>Her company has been producing </span>
                            <a href="#" class="intro__link hover js-hover__events">events</a> 
                            <span>and </span>
                            <a href="#" class="intro__link hover js-hover__theater-productions">theater productions</a>
                            <span> for over 15 years. She makes </span>
                            <a href="#" class="intro__link hover js-hover__costumes">costumes,</a>
                            <span>writes for industry publications,</span>
                            <a href="#" class="intro__link hover js-hover__teaches">teaches performers,</a>
                            <span>and creates independent artistic</span> 
                            <a href="#" class="intro__link hover js-hover__perf">works + performances.</a>
                            <br  class="hide-xs">
                            <br  class="hide-xs">
                            <span class="hide-xs">
                            Kate tours internationally  with  
                            </span>
                            <a href="#" class="hide-xs  intro__link hover js-hover__basil">critically acclaimed</a> 
                            <span class="hide-xs">puppeteers, works   </span>
                            <a href="#" class="hide-xs  intro__link hover js-hover__broadway--on">on</a>
                            <span class="hide-xs"> and</span>
                            <a href="#" class=" hide-xs  intro__link hover js-hover__broadway--off">off Broadway</a> 
                            <span class="hide-xs"> and is trained in the </span>
                            <a href="#" class="hide-xs  intro__link hover js-hover__margolis">Margolis Method</a> 
                            <span class="hide-xs "> of Physical Acting. </span>
                            <span class="hide-xs">She is currently </span>
                            <a href="#" class="hide-xs intro__link hover js-hover__explore">exploring possibilities</a>
                            <span class="hide-xs">for bridging academic interests
                            , industry work and an independent art practice.
                            </span> --}}