
@font-face {
    font-family:"K-Medium";
    src:url("../type/k/k--medium.woff2") format("woff2"),url("../type/k/k--medium.woff") format("woff"),url("../type/k/k--medium.ttf") format("truetype");
    font-style:normal;font-weight:400;
}
        