
@font-face {
    font-family:"K-Regular";
    src:url("../type/k/k--regular.woff2") format("woff2"),url("../type/k/k--regular.woff") format("woff"),url("../type/k/k--regular.ttf") format("truetype");
    font-style:normal;font-weight:400;
}
        