
@font-face {
    font-family:"K-RegularItalic";
    src:url("../type/k/k--regular-italic.woff2") format("woff2"),url("../type/k/k--regular-italic.woff") format("woff"),url("../type/k/k--regular-italic.ttf") format("truetype");
    font-style:normal;font-weight:400;
}
        