
@font-face {
    font-family:"K-Super";
    src:url("../type/k/k--super.woff2") format("woff2"),url("../type/k/k--super.woff") format("woff"),url("../type/k/k--super.ttf") format("truetype");
    font-style:normal;font-weight:400;
}
        