@import 'node_modules/@glidejs/glide/src/assets/sass/glide.core';
@import 'node_modules/@glidejs/glide/src/assets/sass/glide.theme';

@import 'node_modules/plyr/src/sass/plyr';

@import 'partials/mq';
@import 'partials/mq-debugger';
@import 'partials/colors';
@import 'partials/base';
@import 'partials/utilities';
@import 'partials/glide';
@import 'partials/type';
@import 'partials/section';
@import 'partials/nav';

@import 'partials/section--intro';
@import 'partials/section--bio';
// @import 'partials/section--projects';
@import 'partials/section--what-is';
@import 'project-detail';

body {
    position: relative;

    // for some reason, when fullpage.js sets this,
    // when scrolling to a section that has a gradient applied,
    // layers underneath it, whether text or images,
    // dont show, until animation is completed.
    overflow: visible !important;
}

// .fp-tableCell {
//     display: flex !important;
//     position: relative;
//     align-items: center;
// }

#fullpage {
    // so image-wrapper, outside of the fullpage wrapper
    // is on the same z-index, so the intro label fragment text hovers work
    position: relative;
}

.bg__diags {
    position: absolute;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAOklEQVQoU43MSwoAMAgD0eT+h7ZYaOlHo7N+DNHL2HAGgBWcyGcKbqTghTL4oQiG6IUpOqFEC5bI4QD8PAoKd9j4XwAAAABJRU5ErkJggg==);
    mix-blend-mode: soft-light;
}
