// Required Core Stylesheet
@import "node_modules/@glidejs/glide/src/assets/sass/glide.core";

// Optional Theme Stylesheet
@import "node_modules/@glidejs/glide/src/assets/sass/glide.theme";

@import 'partials/mq';
@import 'partials/mq-debugger';
@import 'partials/colors';
@import 'partials/base';
@import 'partials/utilities';
@import 'partials/type';
@import 'partials/section';
@import 'partials/nav';

@import 'partials/section--intro';
@import 'partials/section--bio';
@import 'partials/section--projects';
@import 'partials/section--what-is';


body {
    position: relative; 

    // for some reason, when fullpage.js sets this,
    // when scrolling to a section that has a gradient applied,
    // layers underneath it, whether text or images,
    // dont show, until animation is completed.

    // disabling this doesnt seem to have a negative effect
    overflow: visible !important;
}

.fp-tableCell {
    display: flex !important;
    position: relative;
    align-items: center;
}


// temp swup css animation code
.transition-fade {
    opacity: 1;
    transition: 1s;
}

html.is-animating .transition-fade {
    opacity: 0;
}

@keyframes animation {
    0% {
        background-position: 0% 0%
    }

    50% {
        background-position: 100% 100%
    }

    100% {
        background-position: 0% 00%
    }
}

.project-bg--start {
    background-color: $palette--navy;
}

.project-bg--end {
    background-color: $palette--turquoise-blue;
    color: white;
}
